<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ADM</span>
  <span class="example-spacer"></span>

  <section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" class="nav-link" routerLink="/home"><mat-icon>home</mat-icon> </button>
    <button mat-raised-button color="accent" class="nav-link" routerLink="/vehiculo"><mat-icon>commute</mat-icon> Vehiculos </button>
    <button mat-raised-button color="warn" class="nav-link" routerLink="/trama"><mat-icon>settings_ethernet</mat-icon> Tramas</button>
  </div>
</section>
</mat-toolbar>
</p>



